# Dataset
*.png
*.jpg
*.jpeg

# Matplotlib files
*.pdf

# Sloth files
*.json

# YOLO files
backup_*
*.data
*.txt
results
results_iterations

# squeezeDet files
labels.names

# SLURM log files
*.out
*.err

# TensorFlow files
*.record
*.ckpt*
*.pb
tflogs
train_*/
eval_*/

# TensorFlow - these are generated with tf_gen_config.sh
tf_*.config
*.pbtxt

# Python files
__pycache__
.ipynb_checkpoints

# Videos
*.mp4
*.avi
*.list

# Binary files
*.zip
*.gz
*.xz
*.tar.*
*.bag

# Other random stuff
*~
*.bak
.trackerignore
