# Dataset
*.png
*.jpg

# Sloth files
*.json

# YOLO files
backup_*
*.data
*.txt
results
results_iterations

# SLURM log files
*.out
*.err

# TensorFlow files
*.record
*.ckpt*

# TensorFlow - these are generated with tf_gen_config.sh
tf.config
*.pbtxt

# Python files
__pycache__
.ipynb_checkpoints

# Videos
*.mp4
*.avi
*.list

# Binary files
*.zip
*.gz
*.xz
*.tar.*

# Other random stuff
*.bak
.trackerignore
