<?xml version="1.0"?>
<launch>
    <!-- Object Detector, pick either TensorFlow or YOLO -->
    <!--<include file="$(find object_detector_ros)/launch/object_detector.launch" />-->
    <include file="$(find darknet_ros)/launch/darknet_ros.launch" />

    <!-- Take point cloud and bounding boxes to find object 3D locations -->
    <include file="$(find object_detector_ros)/launch/find_objects.launch" />

    <!-- Save object locations to the database -->
    <include file="$(find object_detector_ros)/launch/update_object_db.launch" />

    <!-- Zero the pan tilt so camera is in a good position -->
    <include file="$(find object_detector_ros)/launch/pantilt.launch" />
    <include file="$(find object_detector_ros)/launch/zero_pan_tilt.launch" />

    <!-- Start camera, but don't override model of where camera is -->
    <include file="$(find astra_launch)/launch/astra.launch">
        <arg name="publish_tf" value="false" />
    </include>
</launch>
